<h1 align='center'>Proyecto Individual 2</h1>
<h3 align='center'><i>Telecomunicaciones</i></h3>
<h4 align='center'>Cohorte:DataPT04</h4>

# `ETL`: **`Extracción, transformación y carga de datos`**
- *Buscamos en el sitio ENACOM - Ente Nacional de Comunicaciones de Argentina.*
- *Encontrando algunos archivos interesantes de internet y telefonía fija.*
### Primero, verificamos los siguientes archivos *`(No utilizados en el proyecto por lo encontrado)`:*
- **`Acceso a Internet Fijo por velocidad de bajada y provincia:`** *Encontrando:* `Demasiadas columnas y pocos datos`
- **`Acceso a Internet Fijo por velocidad de bajada y localidad:`** *Encontrando:* `Velocidades con puros valores nulos`
- **`Velocidad media de bajada de Internet fijo por provincia:`** *Encontrando:* `Pocos valores en el dataset`
- **`Acceso a Internet por tecnología:`** *Encontrando:* `Pocos valores en el dataset`
- **`Acceso a Internet por velocidad:`** *Encontrando:* `Pocos valores en el dataset`
- **`Ingresos en internet:`** *Encontrando:* `Pocos valores en el dataset`
- **`Telefonia móvil:`** *Encontrando:* `Pocos valores en el dataset`
### Segundo, abrimos los archivos de trabajo *`(Utilizados para el proyecto)`*:
1. **`Acceso a Internet Fijo por tecnologia y localidad`**
2. **`Acceso a Internet Fijo por banda ancha y banda angosta`**
3. **`Penetracion del internet`**
4. **`Listado de localidades con conectividad a internet`**
5. **`Telefonía fija`**

In [1]:
# Importamos la libreria que necesitamos para abrir los archivos
import pandas as pd

#### `Acceso a Internet Fijo por velocidad de bajada y provincia`

In [2]:
# Abrimos el dataset
df = pd.read_csv('../data/AccesosaInternetfijoporvelocidadbajadayprovincia_2791741699407548416.csv')
df.head(2)

In [3]:
# Demasiadas columnas y pocos datos
df.shape

(505, 97)

#### `Acceso a Internet Fijo por velocidad de bajada y localidad`

In [4]:
# Abrimos el dataset
df1 = pd.read_csv('../data/AccesosaInternetfijoporvelocidaddebajadaylocalidad_2776171699407474065.csv')
#df1.head()

In [5]:
# Velocidades con puros valores nulos
df1.shape

(3095, 83)

#### `Velocidad media de bajada de Internet fijo por provincia`

In [6]:
# Abrimos el dataset
df2 = pd.read_csv('../data/historico_velocidad_internet.csv')
#df2.head()

In [7]:
# Pocos valores en el dataset  
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     36 non-null     int64
 1   Trimestre               36 non-null     int64
 2   Mbps (Media de bajada)  36 non-null     float64
 3   Trimestre.1             36 non-null     object
dtypes: float64(1), int64(2), object(1)
memory usage: 1.3+ KB

#### `Acceso a Internet por tecnología`

In [8]:
# Abrimos el dataset
df3 = pd.read_csv('../data/Internet_Accesos-por-tecnologia.csv')
#df3.head()

In [9]:
# Pocos valores en el dataset
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           36 non-null     int64
 1   Trimestre     36 non-null     int64
 2   ADSL          36 non-null     int64
 3   Cablemodem    36 non-null     int64
 4   Fibra óptica  36 non-null     int64
 5   Wireless      36 non-null     int64
 6   Otros         36 non-null     int64
 7   Total         36 non-null     int64
 8   Periodo       36 non-null     object
dtypes: int64(8), object(1)
memory usage: 2.7+ KB

#### `Acceso a Internet por velocidad`

In [10]:
# Abrimos el dataset
df4 = pd.read_csv('../data/Internet_Accesos-por-velocidad.csv')
#df4.head()

In [11]:
# Pocos valores en el dataset
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Año                      36 non-null     int64
 1   Trimestre                36 non-null     int64
 2   Hasta 512 kbps           36 non-null     float64
 3   Entre 512 Kbps y 1 Mbps  36 non-null     float64
 4   Entre 1 Mbps y 6 Mbps    36 non-null     object
 5   Entre 6 Mbps y 10 Mbps   36 non-null     object
 6   Entre 10 Mbps y 20 Mbps  36 non-null     object
 7   Entre 20 Mbps y 30 Mbps  36 non-null     object
 8   Más de 30 Mbps           36 non-null     object
 9   OTROS                    36 non-null     float64
 10  Total                    36 non-null     object
dtypes: float64(3), int64(2), object(6)
memory usage: 3.2+ KB

#### `Ingresos en internet`

In [12]:
# Abrimos el dataset
df5 = pd.read_csv('../data/Internet_Ingresos.csv')
#df5.head()

In [13]:
# Pocos valores en el dataset
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        36 non-null     int64
 1   Trimestre                  36 non-null     int64
 2   Ingresos (miles de pesos)  36 non-null     int64
 3   Periodo                    36 non-null     object
dtypes: int64(3), object(1)
memory usage: 1.3+ KB

#### `Telefonia móvil`

In [14]:
df6 = pd.read_csv('../data/Telefonia_movil.csv')
#df6.head()

In [15]:
# Pocos valores en el dataset
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Año                       40 non-null     int64
 1   Trimestre                 40 non-null     int64
 2   Accesos por cada 100 hab  40 non-null     float64
 3   Periodo                   40 non-null     object
dtypes: float64(1), int64(2), object(1)
memory usage: 1.4+ KB

## `Archivos de trabajo`
- `Creados y enviados al dataset`

#### `Acceso a Internet Fijo por tecnologia y localidad`

In [37]:
# Abrimos el dataset
df7 = pd.read_csv('../data/AccesosaInternetfijoportecnologiaylocalidad_2791751699406735912.csv',decimal='.',thousands=' ')
df7.head()

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general,Unnamed: 13
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,874,"4,54",- 0,3,- 0,852,- 0,706,"6,98",NaN
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,- 0,- 0,- 0,10,1,- 0,- 0,192,NaN
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,- 0,- 0,- 0,- 0,- 0,- 0,- 0,181,181,NaN
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,6854060,- 0,782,- 0,6,167,- 0,- 0,327,"1,28",NaN
4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,6854050,- 0,- 0,- 0,- 0,- 0,- 0,- 0,6,6,NaN

In [31]:
# Eliminamos la columna con puros valores nulos y desconocida
df7 = df7.drop(['Unnamed: 13'],axis=1)

In [32]:
# Verificamos los resultados
df7.head()

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,874,"4,54",- 0,3,- 0,852.0,-0.0,706,"6,98"
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,- 0,- 0,- 0,10,1.0,-0.0,- 0,192
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,- 0,- 0,- 0,- 0,- 0,-0.0,-0.0,181,181
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,6854060,- 0,782,- 0,6,167,-0.0,-0.0,327,"1,28"
4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,6854050,- 0,- 0,- 0,- 0,- 0,-0.0,-0.0,6,6

In [19]:
# Salvamos el dataset como 'Internet_tec_loc.csv'
#df7.to_csv('Internet_tec_loc.csv',index=False)

In [21]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3137 entries, 0 to 3136
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      3137 non-null   object
 1   Partido        3137 non-null   object
 2   Localidad      3137 non-null   object
 3   Link Indec     3137 non-null   object
 4   ADSL           3137 non-null   object
 5   CABLEMODEM     3137 non-null   object
 6   DIAL UP        3137 non-null   object
 7   FIBRA OPTICA   3137 non-null   object
 8   OTROS          3137 non-null   object
 9   SATELITAL      3137 non-null   object
 10  WIMAX          3137 non-null   object
 11  WIRELESS       3137 non-null   object
 12  Total general  3137 non-null   object
dtypes: object(13)
memory usage: 318.7+ KB

#### Resumen: `Acceso a Internet Fijo por tecnologia y localidad`
* Limpiamos el dataset reduciendo a `13 columnas y 3137 registros.`
* Salvamos el dataset como `Internet_tec_loc.csv`
* Lo reservamos para usar en `PowerBI`
* Lo fusionaremos más adelante para trabajar el `EDA`

#### `Listado de localidades con conectividad a internet`

In [20]:
# Abrimos el dataset
df10 = pd.read_csv('../data/Listadodelocalidadesconconectividadainternet_2750221699406770237.csv')
df10.head()

,Provincia,Partido,Localidad,ADSL,Cablemódem,Dial Up,Fibra óptica,4G,3G,Telefonía Fija,Wireless,Satelital
0,BUENOS AIRES,9 de Julio,Alfredo Demarchi (Est. Facundo Quiroga),SI,--,--,--,SI,SI,SI,--,--
1,BUENOS AIRES,9 de Julio,Carlos María Naón,--,--,--,--,SI,SI,SI,--,--
2,BUENOS AIRES,9 de Julio,Dudignac,--,--,SI,--,SI,SI,SI,SI,--
3,BUENOS AIRES,9 de Julio,La Aurora (Est. La Niña),--,--,--,--,SI,--,--,--,--
4,BUENOS AIRES,9 de Julio,Manuel B. Gonnet (Est. French),SI,--,--,SI,SI,SI,SI,--,--

In [35]:
df10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4311 entries, 0 to 4310
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Provincia       4311 non-null   object
 1   Partido         4311 non-null   object
 2   Localidad       4311 non-null   object
 3   ADSL            4311 non-null   object
 4   Cablemódem      4311 non-null   object
 5   Dial Up         4311 non-null   object
 6   Fibra óptica    4311 non-null   object
 7   4G              4311 non-null   object
 8   3G              4311 non-null   object
 9   Telefonía Fija  4311 non-null   object
 10  Wireless        4311 non-null   object
 11  Satelital       4311 non-null   object
dtypes: object(12)
memory usage: 404.3+ KB

In [36]:
# Salvamos el dataset como 'Localidad_internet.csv'
#df10.to_csv('Localidad_internet.csv',index=False)

#### Resumen: `Listado de localidades con conectividad a internet`
* Limpiamos el dataset reduciendo a `12 columnas y 4311 registros.`
* Salvamos el dataset como `Localidad_internet.csv`
* Lo reservamos para usar en `PowerBI`
* Lo fusionaremos más adelante para trabajar el `EDA`

#### `Acceso a Internet Fijo por banda ancha y banda angosta`

In [40]:
# Abrimos el dataset
df8 = pd.read_csv('../data/Internet_BAF.csv')
df8.head()

    Año  Trimestre        Provincia  Banda ancha fija  Dial up  Total
0  2022          4     Buenos Aires                 5      6.0      5
1  2022          4  Capital Federal                 2      2.0      2
2  2022          4        Catamarca                71      1.0     71
3  2022          4            Chaco               144      5.0    144
4  2022          4           Chubut               168    904.0    169

In [39]:
df5.head()

    Año  Trimestre  Ingresos (miles de pesos)        Periodo
0  2022          4                         72   Oct-Dic 2022
1  2022          3                         64  Jul-Sept 2022
2  2022          2                         60   Abr-Jun 2022
3  2022          1                         55   Ene-Mar 2022
4  2021          4                         45   Oct-Dic 2021

In [23]:
# Identificamos los valores nulos
df8[df8['Dial up'].isnull()]

      Año  Trimestre Provincia  Banda ancha fija  Dial up  Total
440  2018          2   Formosa                45      NaN     45
445  2018          2  Misiones               106      NaN    106

In [41]:
# Verificamos los valores nulos
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               864 non-null    int64
 1   Trimestre         864 non-null    int64
 2   Provincia         864 non-null    object
 3   Banda ancha fija  864 non-null    int64
 4   Dial up           862 non-null    float64
 5   Total             864 non-null    int64
dtypes: float64(1), int64(4), object(1)
memory usage: 40.6+ KB

In [42]:
# Rellenamos los valores nulos por '0'
df8['Dial up'] = df8['Dial up'].fillna(0)

In [43]:
# Normalizamos los datos a 'non-null'
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               864 non-null    int64
 1   Trimestre         864 non-null    int64
 2   Provincia         864 non-null    object
 3   Banda ancha fija  864 non-null    int64
 4   Dial up           864 non-null    float64
 5   Total             864 non-null    int64
dtypes: float64(1), int64(4), object(1)
memory usage: 40.6+ KB

In [44]:
df = pd.merge(df5,df8,on=['Año','Trimestre'])

In [47]:
df

,Año,Trimestre,Ingresos (miles de pesos),Periodo,Provincia,Banda ancha fija,Dial up,Total
0,2022,4,72,Oct-Dic 2022,Buenos Aires,5,6.0,5
1,2022,4,72,Oct-Dic 2022,Capital Federal,2,2.0,2
2,2022,4,72,Oct-Dic 2022,Catamarca,71,1.0,71
3,2022,4,72,Oct-Dic 2022,Chaco,144,5.0,144
4,2022,4,72,Oct-Dic 2022,Chubut,168,904.0,169
...,...,...,...,...,...,...,...,...
859,2014,1,3,Ene-Mar 2014,Santa Cruz,26,460.0,27
860,2014,1,3,Ene-Mar 2014,Santa Fe,506,612.0,507
861,2014,1,3,Ene-Mar 2014,Santiago Del Estero,37,9.0,37
862,2014,1,3,Ene-Mar 2014,Tierra Del Fuego,27,766.0,28
863,2014,1,3,Ene-Mar 2014,Tucumán,130,88.0,130

In [46]:
df.shape

(864, 8)

In [26]:
# Salvamos el dataset como 'Internet_banda_ancha_angosta.csv'
#df8.to_csv('Internet_banda_ancha_angosta.csv',index=False)

#### Resumen: `Acceso a Internet Fijo por banda ancha y banda angosta`
* Limpiamos el dataset reduciendo a `6 columnas y 864 registros.`
* Salvamos el dataset como `Internet_banda_ancha_angosta.csv`
* Lo reservamos para usar en `PowerBI`
* Lo fusionaremos más adelante para trabajar el `EDA`

#### `Penetracion del internet`

In [27]:
# Abrimos el dataset
df9 = pd.read_csv('../data/Internet_Penetracion.csv')
df9.head()

,Año,Trimestre,Provincia,Accesos por cada 100 hogares,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,2022,4,Buenos Aires,"78,94",NaN,NaN,NaN
1,2022,4,Capital Federal,"122,73",NaN,NaN,NaN
2,2022,4,Catamarca,"65,77",NaN,NaN,NaN
3,2022,4,Chaco,"43,62",NaN,NaN,NaN
4,2022,4,Chubut,"85,57",NaN,NaN,NaN

In [28]:
# Vemos la columna 'Accesos por cada 100 hogares' con valores separados por coma,
# como 'object' que posiblemente sea 'float'
df9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           864 non-null    int64
 1   Trimestre                     864 non-null    int64
 2   Provincia                     864 non-null    object
 3   Accesos por cada 100 hogares  864 non-null    object
 4   Unnamed: 4                    0 non-null      float64
 5   Unnamed: 5                    0 non-null      float64
 6   Unnamed: 6                    0 non-null      float64
dtypes: float64(3), int64(2), object(2)
memory usage: 47.4+ KB

In [29]:
# Re-abrimos el dataset con el parámetro "decimal=','"
df9 = pd.read_csv('../data/Internet_Penetracion.csv',decimal=',')
df9.head()

,Año,Trimestre,Provincia,Accesos por cada 100 hogares,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,2022,4,Buenos Aires,78.94,NaN,NaN,NaN
1,2022,4,Capital Federal,122.73,NaN,NaN,NaN
2,2022,4,Catamarca,65.77,NaN,NaN,NaN
3,2022,4,Chaco,43.62,NaN,NaN,NaN
4,2022,4,Chubut,85.57,NaN,NaN,NaN

In [30]:
# Veamos ahora el tipo de dato de la columna: 'Accesos por cada 100 hogares',
# y efectivamente ha cambiado a 'float'
df9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           864 non-null    int64
 1   Trimestre                     864 non-null    int64
 2   Provincia                     864 non-null    object
 3   Accesos por cada 100 hogares  864 non-null    float64
 4   Unnamed: 4                    0 non-null      float64
 5   Unnamed: 5                    0 non-null      float64
 6   Unnamed: 6                    0 non-null      float64
dtypes: float64(4), int64(2), object(1)
memory usage: 47.4+ KB

In [31]:
# Ahora eliminamos las columnas con puros valores nulos
df9 = df9.drop(['Unnamed: 4','Unnamed: 5','Unnamed: 6'],axis=1)

In [32]:
# Verificamos el resultado
df9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           864 non-null    int64
 1   Trimestre                     864 non-null    int64
 2   Provincia                     864 non-null    object
 3   Accesos por cada 100 hogares  864 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 27.1+ KB

In [33]:
# Salvamos el dataset como 'Penetracion_internet.csv'
#df9.to_csv('Penetracion_internet.csv',index=False)

#### Resumen: `Penetracion del internet`
* Limpiamos el dataset reduciendo a `4 columnas y 864 registros.`
* Salvamos el dataset como `Penetracion_internet.csv`
* Lo reservamos para usar en `PowerBI`
* Lo fusionaremos más adelante para trabajar el `EDA`

#### `Telefonía fija`

In [37]:
df11 = pd.read_csv('../data/telefonia_fija.csv')
df11.head()

,Año,Trimestre,Provincia,Accesos telefonía fija por cada 100 hab,Accesos telefonía fija por cada 100 hogares
0,2014,1,Buenos Aires,2.672,8.526
1,2014,1,Capital Federal,5.266,12.857
2,2014,1,Catamarca,1.003,3.945
3,2014,1,Chaco,909.000,3.402
4,2014,1,Chubut,1.766,5.759

In [38]:
df11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 5 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Año                                          864 non-null    int64
 1   Trimestre                                    864 non-null    int64
 2   Provincia                                    864 non-null    object
 3   Accesos telefonía fija por cada 100 hab      864 non-null    float64
 4   Accesos telefonía fija por cada 100 hogares  864 non-null    float64
dtypes: float64(2), int64(2), object(1)
memory usage: 33.9+ KB

In [39]:
df11 = df11.drop(['Accesos telefonía fija por cada 100 hab'],axis=1)

In [40]:
df11.head()

,Año,Trimestre,Provincia,Accesos telefonía fija por cada 100 hogares
0,2014,1,Buenos Aires,8.526
1,2014,1,Capital Federal,12.857
2,2014,1,Catamarca,3.945
3,2014,1,Chaco,3.402
4,2014,1,Chubut,5.759

In [41]:
# Salvamos el dataset como
#df11.to_csv('Telefonia.csv',index=False)

#### Resumen: `Telefonía fija`
* Limpiamos el dataset reduciendo a `4 columnas y 864 registros.`
* Salvamos el dataset como `Telefonia.csv`
* Lo reservamos para usar en `PowerBI`
* Lo fusionaremos más adelante para trabajar el `EDA`


<h4 align='right'><i>Pag. 1</i></h4>